Repository ansys/pyedb-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: cleanipynb-helpers, cleanipynb

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    exclude: |
      (?x)(
        ^src/ansys/api/|
        ^protos
      )

- repo: https://github.com/pycqa/isort
  rev: 5.11.5
  hooks:
  - id: isort
    exclude: |
      (?x)(
        ^src/ansys/api/|
        ^protos
      )

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    exclude: |
      (?x)(
        ^src/ansys/api/|
        ^protos
      )

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    exclude: |
      (?x)(
        ^src/ansys/api/|
        ^protos|
        ^notebooks
      )

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: |
      (?x)(
        ^tests/|
        ^src/ansys/api/|
        ^protos
      )

- repo: local
  hooks:
    - id: cleanipynb-helpers
      name: cleanipynb-helpers
      language: system
      entry: python scripts/cleanipynb.py
      files: notebooks/helpers/[^/]*\.ipynb$

    - id: cleanipynb
      name: cleanipynb
      language: system
      entry: python scripts/cleanipynb.py
      args: [--leave-outputs]
      files: notebooks/[^/]*\.ipynb$

cleanedup the notebooks
  notebooks/assign_ds_model.ipynb
  notebooks/remove_unconnected_nets.ipynb
  notebooks/stackup_export.ipynb
  notebooks/template.ipynb
  notebooks/unite_meshed_ground.ipynb
Due: cleanipynb

Fix documentation build
  doc/source/conf.py
Due: none

T260: Add a pre-commit hook for cleaning ipynb files (#260)
  .pre-commit-config.yaml
  doc/source/conf.py
  notebooks/3d_comp_placement.ipynb
  notebooks/Cutout_region.ipynb
  notebooks/Define_and_assign_bondwire_profiles.ipynb
  notebooks/Move_geometry_from_existing_layer_to_new_layer.ipynb
  notebooks/PolygonOperations.ipynb
  notebooks/Remove_all_geometry_and_layers_below_L2.ipynb
  notebooks/helpers/example_setup.ipynb
  notebooks/helpers/example_teardown.ipynb
  notebooks/helpers/plot.ipynb
  notebooks/template.ipynb
  scripts/cleanipynb.py
Due: cleanipynb-helpers, cleanipynb

Incorporate feedback
  .gitignore
  notebooks/change_capacitor_models.ipynb
  notebooks/helpers/example_setup.ipynb
  notebooks/helpers/example_teardown.ipynb
Due: cleanipynb-helpers, cleanipynb

Adjust .gitignore for EDB folders
  .gitignore
Due: none

Rebase and fix example
  notebooks/change_capacitor_models.ipynb
  src/ansys/edb/hierarchy/pin_pair_model.py
Due: cleanipynb

D262: Layer material getter returns str
  src/ansys/edb/layer/stackup_layer.py
Due: none

D262: Layer material getter returns str (#263)
  src/ansys/edb/layer/stackup_layer.py
Due: none

galileo edb removed
  notebooks/hfss_si_project_setup.ipynb
Due: cleanipynb

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Due: none

Update ci_cd.yml (#266)
  .github/workflows/ci_cd.yml
Due: none

D252: Cannot create a PadstackInstance without solder_ball_layer
  src/ansys/edb/primitive/primitive.py
Due: none

D253: PadGeometryType #253
  protos/ansys/api/edb/v1/padstack_def_data.proto
Due: none

D253: PadGeometryType #253
  protos/ansys/api/edb/v1/padstack_def_data.proto
  src/ansys/edb/definition/padstack_def_data.py
Due: none

D253: PadGeometryType #253 (#265)
  protos/ansys/api/edb/v1/padstack_def_data.proto
  src/ansys/edb/definition/padstack_def_data.py
Due: none

D252: Cannot create a PadstackInstance without solder_ball_layer (#264)
  src/ansys/edb/primitive/primitive.py
Due: none

D268: Add missing migration from pyansys to ansys
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/api/release_notes.rst
  doc/source/conf.py
  protos/setup.py
  pyproject.toml
Due: none

D267: Add HFSS_3D_LAYOUT product type
  src/ansys/edb/database.py
Due: none

D268: Add missing migration from pyansys to ansys (#269)
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/api/release_notes.rst
  doc/source/conf.py
  protos/setup.py
  pyproject.toml
Due: none

D267: Add HFSS_3D_LAYOUT product type (#270)
  src/ansys/edb/database.py
Due: none

edb_plot_snippet
  notebooks/plot_nets.ipynb
Due: cleanipynb

D281: Pass correct enum value of EdgeType when creating Edge
  src/ansys/edb/terminal/terminals.py
Due: none

D281: Pass correct enum value of EdgeType when creating Edge (#282)
  src/ansys/edb/terminal/terminals.py
Due: none

S727024: Stackup export and Assign DS model examples
  notebooks/assign_ds_model.aedb/edb.def
  notebooks/assign_ds_model.ipynb
  notebooks/stackup_export.aedb/edb.def
  notebooks/stackup_export.ipynb
Due: cleanipynb

S727024: remove extra cell
  notebooks/stackup_export.ipynb
Due: cleanipynb

D275: Use non-default port
  src/ansys/edb/session.py
Due: none

D275: Use non-default port (#284)
  src/ansys/edb/session.py
Due: none

Notebook fix
  notebooks/Siwave_SI_project.ipynb
  notebooks/hfss_si_project_setup.ipynb
Due: cleanipynb

S641118: Added siwave, raptorx sims setups
  protos/ansys/api/edb/v1/raptor_x_simulation_settings.proto
  protos/ansys/api/edb/v1/siwave_dcir_simulation_settings.proto
  protos/ansys/api/edb/v1/siwave_simulation_settings.proto
Due: none

S727024: Stackup export and Assign DS model examples (#283)
  notebooks/assign_ds_model.aedb/edb.def
  notebooks/assign_ds_model.ipynb
  notebooks/stackup_export.aedb/edb.def
  notebooks/stackup_export.ipynb
Due: cleanipynb

Notebook fix
  notebooks/hfss_si_project_setup.ipynb
Due: cleanipynb

S641118: Added siwave, dcir, and raptorx sim settings
  protos/ansys/api/edb/v1/edb_defs.proto
  protos/ansys/api/edb/v1/raptor_x_simulation_settings.proto
  protos/ansys/api/edb/v1/simulation_setup.proto
  protos/ansys/api/edb/v1/siwave_dcir_simulation_settings.proto
  protos/ansys/api/edb/v1/siwave_simulation_settings.proto
  src/ansys/edb/layout/cell.py
  src/ansys/edb/session.py
  src/ansys/edb/simulation_setup/__init__.py
  src/ansys/edb/simulation_setup/raptor_x_simulation_settings.py
  src/ansys/edb/simulation_setup/raptor_x_simulation_setup.py
  src/ansys/edb/simulation_setup/simulation_setup.py
  src/ansys/edb/simulation_setup/siwave_dcir_simulation_settings.py
  src/ansys/edb/simulation_setup/siwave_dcir_simulation_setup.py
  src/ansys/edb/simulation_setup/siwave_simulation_settings.py
  src/ansys/edb/simulation_setup/siwave_simulation_setup.py
Due: none

S641118: Fixed doc/energy error val type
  protos/ansys/api/edb/v1/siwave_simulation_settings.proto
  src/ansys/edb/simulation_setup/siwave_simulation_settings.py
Due: none

S641118: Fixed documentation
  doc/source/api/simulation_setup.rst
  src/ansys/edb/simulation_setup/__init__.py
Due: none

S641118: Fixed energy_error msg type
  src/ansys/edb/simulation_setup/siwave_simulation_settings.py
Due: none

S641118: Added siwave, dcir, and raptorx sim settings (#285)
  doc/source/api/simulation_setup.rst
  protos/ansys/api/edb/v1/edb_defs.proto
  protos/ansys/api/edb/v1/raptor_x_simulation_settings.proto
  protos/ansys/api/edb/v1/simulation_setup.proto
  protos/ansys/api/edb/v1/siwave_dcir_simulation_settings.proto
  protos/ansys/api/edb/v1/siwave_simulation_settings.proto
  src/ansys/edb/layout/cell.py
  src/ansys/edb/session.py
  src/ansys/edb/simulation_setup/__init__.py
  src/ansys/edb/simulation_setup/raptor_x_simulation_settings.py
  src/ansys/edb/simulation_setup/raptor_x_simulation_setup.py
  src/ansys/edb/simulation_setup/simulation_setup.py
  src/ansys/edb/simulation_setup/siwave_dcir_simulation_settings.py
  src/ansys/edb/simulation_setup/siwave_dcir_simulation_setup.py
  src/ansys/edb/simulation_setup/siwave_simulation_settings.py
  src/ansys/edb/simulation_setup/siwave_simulation_setup.py
Due: none

component all getters done
  .idea/pyedb.iml
Due: none
